[submodule "third_party/aloha"]
	path = third_party/aloha
	url = https://github.com/Physical-Intelligence/aloha.git
[submodule "third_party/libero"]
	path = third_party/libero
	url = https://github.com/Lifelong-Robot-Learning/LIBERO.git
[submodule "third_party/XRoboToolkit-Teleop-Sample-Python"]
	path = third_party/XRoboToolkit-Teleop-Sample-Python
	url = https://github.com/XR-Robotics/XRoboToolkit-Teleop-Sample-Python.git
[submodule "third_party/lerobot"]
	path = third_party/lerobot
	url = https://github.com/zhigenzhao/lerobot.git
	branch = dev/policies