<?xml version="1.0" ?>
<robot name="bimanual_gim_arm_6dof">

  <!-- A base link to connect the two arms -->
  <link name="world" />

  <!-- #################### -->
  <!-- RIGHT ARM            -->
  <!-- #################### -->

  <joint name="world_to_right_base" type="fixed">
    <parent link="world"/>
    <child link="right_base_link"/>
    <origin xyz="0 -0.3 0" rpy="0 0 1.5708"/>
  </joint>

  <link name="right_base_link">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.00785 0.0 0.01987"/>
      <mass value="0.64179"/>
      <inertia ixx="5.9211E-04" ixy="-3.517E-08" ixz="1.1836E-04" iyy="7.0360E-04" iyz="5.381E-08" izz="8.9919E-04"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/base_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/base_link.STL"/>
      </geometry>
    </collision>
  </link>
  <link name="right_link1">
    <inertial>
      <origin rpy="0 0 0" xyz="0.01408 0.00288 0.03884"/>
      <mass value="0.4884"/>
      <inertia ixx="2.8859E-04" ixy="3.8504E-06" ixz="4.6205E-05" iyy="2.0864E-04" iyz="1.0096E-05" izz="2.0386E-04"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link_1.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link_1.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_joint1" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.05845"/>
    <parent link="right_base_link"/>
    <child link="right_link1"/>
    <axis xyz="0 0 1"/>
    <limit effort="50" lower="-3.14" upper="3.14" velocity="10"/>
  </joint>
  <link name="right_link2">
    <inertial>
      <origin rpy="0 0 0" xyz="0.1995 0.0 -0.00087"/>
      <mass value="0.708"/>
      <inertia ixx="3.3042E-04" ixy="2.8715E-07" ixz="1.7298E-04" iyy="6.3196E-03" iyz="7.914E-08" izz="6.2081E-03"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link_2.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link_2.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_joint2" type="revolute">
    <origin rpy="1.5708 0 -3.1416" xyz="0.017 0 0.04585"/>
    <parent link="right_link1"/>
    <child link="right_link2"/>
    <axis xyz="0 0 -1"/>
    <limit effort="50" lower="-3.14" upper="0" velocity="10"/>
  </joint>
  <link name="right_link3">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.17349 0.05109 -0.00013"/>
      <mass value="0.6858"/>
      <inertia ixx="5.7265E-04" ixy="-6.3703E-04" ixz="5.5384E-05" iyy="6.1631E-03" iyz="-1.5734E-05" izz="6.1563E-03"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link_3.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link_3.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_joint3" type="revolute">
    <origin rpy="0 0 0" xyz="0.264 0 0"/>
    <parent link="right_link2"/>
    <child link="right_link3"/>
    <axis xyz="0 0 1"/>
    <limit effort="50" lower="-2.1" upper="0" velocity="10"/>
  </joint>
  <link name="right_link4">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.06713 0.05257 0.00048"/>
      <mass value="0.4176"/>
      <inertia ixx="4.7766E-04" ixy="-2.5081E-04" ixz="1.2918E-05" iyy="4.4944E-04" iyz="-1.0770E-05" izz="6.6216E-04"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link_4.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link_4.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_joint4" type="revolute">
    <origin rpy="0 0 0" xyz="-0.247 0.057 0"/>
    <parent link="right_link3"/>
    <child link="right_link4"/>
    <axis xyz="0 0 1"/>
    <limit effort="30" lower="-3.14" upper="3.14" velocity="10"/>
  </joint>
  <link name="right_link5">
    <inertial>
      <origin rpy="0 0 0" xyz="0.00407 -0.0001 -0.00318"/>
      <mass value="0.3647"/>
      <inertia ixx="2.0702E-04" ixy="-3.678E-08" ixz="-1.3036E-05" iyy="2.0667E-04" iyz="-2.453E-07" izz="1.4512E-04"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link_5.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link_5.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_joint5" type="revolute">
    <origin rpy="-1.5708 0 3.1416" xyz="-0.08 -0.0005 0"/>
    <parent link="right_link4"/>
    <child link="right_link5"/>
    <axis xyz="0 0 1"/>
    <limit effort="30" lower="-3.14" upper="3.14" velocity="10"/>
  </joint>
  <link name="right_link6">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.00840 -0.00002 -0.137"/>
      <mass value="0.6418"/>
      <inertia ixx="8.3799E-04" ixy="5.0101E-06" ixz="-1.1914E-04" iyy="8.7955E-04" iyz="-1.2487E-06" izz="7.9664E-04"/>
    </inertial>
    <visual>
      <origin rpy="3.1415926 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link_6.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="3.1415926 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link_6.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_joint6" type="revolute">
    <origin rpy="0 -1.5708 0" xyz="0 0 0"/>
    <parent link="right_link5"/>
    <child link="right_link6"/>
    <axis xyz="0 0 -1"/>
    <limit effort="20" lower="-3.14" upper="3.14" velocity="10"/>
  </joint>
  <link name="right_tool0"/>
  <joint name="right_tool0_fixed" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="right_link6"/>
    <child link="right_tool0"/>
  </joint>

  <!-- #################### -->
  <!-- LEFT ARM             -->
  <!-- #################### -->

  <joint name="world_to_left_base" type="fixed">
    <parent link="world"/>
    <child link="left_base_link"/>
    <origin xyz="0 0.3 0" rpy="0 0 -1.5708"/>
  </joint>

  <link name="left_base_link">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.00785 0.0 0.01987"/>
      <mass value="0.64179"/>
      <inertia ixx="5.9211E-04" ixy="-3.517E-08" ixz="1.1836E-04" iyy="7.0360E-04" iyz="5.381E-08" izz="8.9919E-04"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/base_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/base_link.STL"/>
      </geometry>
    </collision>
  </link>
  <link name="left_link1">
    <inertial>
      <origin rpy="0 0 0" xyz="0.01408 0.00288 0.03884"/>
      <mass value="0.4884"/>
      <inertia ixx="2.8859E-04" ixy="3.8504E-06" ixz="4.6205E-05" iyy="2.0864E-04" iyz="1.0096E-05" izz="2.0386E-04"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link_1.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link_1.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_joint1" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.05845"/>
    <parent link="left_base_link"/>
    <child link="left_link1"/>
    <axis xyz="0 0 1"/>
    <limit effort="50" lower="-3.14" upper="3.14" velocity="10"/>
  </joint>
  <link name="left_link2">
    <inertial>
      <origin rpy="0 0 0" xyz="0.1995 0.0 -0.00087"/>
      <mass value="0.708"/>
      <inertia ixx="3.3042E-04" ixy="2.8715E-07" ixz="1.7298E-04" iyy="6.3196E-03" iyz="7.914E-08" izz="6.2081E-03"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link_2.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link_2.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_joint2" type="revolute">
    <origin rpy="1.5708 0 -3.1416" xyz="0.017 0 0.04585"/>
    <parent link="left_link1"/>
    <child link="left_link2"/>
    <axis xyz="0 0 -1"/>
    <limit effort="50" lower="-3.14" upper="0" velocity="10"/>
  </joint>
  <link name="left_link3">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.17349 0.05109 -0.00013"/>
      <mass value="0.6858"/>
      <inertia ixx="5.7265E-04" ixy="-6.3703E-04" ixz="5.5384E-05" iyy="6.1631E-03" iyz="-1.5734E-05" izz="6.1563E-03"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link_3.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link_3.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_joint3" type="revolute">
    <origin rpy="0 0 0" xyz="0.264 0 0"/>
    <parent link="left_link2"/>
    <child link="left_link3"/>
    <axis xyz="0 0 1"/>
    <limit effort="50" lower="-2.1" upper="0" velocity="10"/>
  </joint>
  <link name="left_link4">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.06713 0.05257 0.00048"/>
      <mass value="0.4176"/>
      <inertia ixx="4.7766E-04" ixy="-2.5081E-04" ixz="1.2918E-05" iyy="4.4944E-04" iyz="-1.0770E-05" izz="6.6216E-04"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link_4.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link_4.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_joint4" type="revolute">
    <origin rpy="0 0 0" xyz="-0.247 0.057 0"/>
    <parent link="left_link3"/>
    <child link="left_link4"/>
    <axis xyz="0 0 1"/>
    <limit effort="30" lower="-3.14" upper="3.14" velocity="10"/>
  </joint>
  <link name="left_link5">
    <inertial>
      <origin rpy="0 0 0" xyz="0.00407 -0.0001 -0.00318"/>
      <mass value="0.3647"/>
      <inertia ixx="2.0702E-04" ixy="-3.678E-08" ixz="-1.3036E-05" iyy="2.0667E-04" iyz="-2.453E-07" izz="1.4512E-04"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link_5.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link_5.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_joint5" type="revolute">
    <origin rpy="-1.5708 0 3.1416" xyz="-0.08 -0.0005 0"/>
    <parent link="left_link4"/>
    <child link="left_link5"/>
    <axis xyz="0 0 1"/>
    <limit effort="30" lower="-3.14" upper="3.14" velocity="10"/>
  </joint>
  <link name="left_link6">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.00840 -0.00002 -0.137"/>
      <mass value="0.6418"/>
      <inertia ixx="8.3799E-04" ixy="5.0101E-06" ixz="-1.1914E-04" iyy="8.7955E-04" iyz="-1.2487E-06" izz="7.9664E-04"/>
    </inertial>
    <visual>
      <origin rpy="3.1415926 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link_6.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="3.1415926 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link_6.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_joint6" type="revolute">
    <origin rpy="0 -1.5708 0" xyz="0 0 0"/>
    <parent link="left_link5"/>
    <child link="left_link6"/>
    <axis xyz="0 0 -1"/>
    <limit effort="20" lower="-3.14" upper="3.14" velocity="10"/>
  </joint>
  <link name="left_tool0"/>
  <joint name="left_tool0_fixed" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="left_link6"/>
    <child link="left_tool0"/>
  </joint>

</robot>
